body{
    margin: 0;
    top: 0;
  
}
html{
    scroll-behavior: smooth;
}
.font {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(192, 147, 88);
  }


#cabeçalho{
    margin-top: -3em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
    display: flex;
   
}
@media (min-width: 320px) and (max-width: 504px){
    #cabeçalho{
        flex-direction: column;
        min-height: 20em;
    }
}

#fotocabeçalho{
    margin-left: 0;
    margin-top: 0;
    height: 18em;
    width: 23em;
}
@media (min-width: 320px) and (max-width: 504px){
    #fotocabeçalho{
        margin-left: 1em;
        margin-top: 0.5em;
        height: 10em;
        width: 12em;
    }
}

#slogan{
    /*margin-top: 6.5em;*/
    margin-top: 3.8em;
    margin-left: 10%;
    color: rgb(192, 147, 88);
    font-size: 26pt;
    width: 9em;
}
@media (min-width: 320px) and (max-width: 423px){
    #slogan{
        /*margin-top: 6.5em;*/
        margin-top: 1em;
        margin-left: 15%;
        color: rgb(192, 147, 88);
        font-size: 20pt;
        width: 9em;
    }
}
@media (min-width: 425px) and (max-width: 504px){
    #slogan{
        margin-left: 18%;
        margin-top: 1em;
    }
}
@media (min-width: 505px) and (max-width: 768px){
    #slogan{
        margin-left: 2%;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    #slogan{
        margin-left: 5%;
    }
}

#cta{
    width: 4em;
    height: 1.4em;
    margin-top: 6.5em;
    font-size: 16pt;
    color: rgb(192, 147, 88);
    cursor: pointer;
    padding-left: 1em;
    padding-top: 0.3em;
    margin-left: 25%;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.301);
    border-radius: 10em;
}
@media (min-width: 320px) and (max-width: 424px){
    #cta{
        margin-top: 1em;
        margin-left: 35%;
    }
}
@media (min-width: 425px) and (max-width: 504px){
    #cta{
        margin-top: 1em;
        margin-left: 38%;
    }
}
@media (min-width: 505px) and (max-width: 768px){
    #cta{
        width: 4em;
        height: 1.4em;
        padding-left: 0.4em;
        margin-left: 1%;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    #cta{
        margin-left: 10%;
    }
}

#cta:hover{
    transform: scale(1.1);
    transition: 1s;
}
#cta:hover{
    color: black;
    background-image: radial-gradient(circle, rgb(146, 230, 211), rgb(151, 236, 218), rgb(134, 214, 197)) /*(circle, rgb(134, 214, 197), rgb(151, 236, 218), rgb(134, 214, 197))*/ ;
}

.texto1{
    margin-top: 5em;
    margin-left: 10%;
    padding-left: 2%;
    height: 5em;
    width: 15em;
    font-size: 22pt;
    color: rgb(192, 147, 88);
    box-shadow: 1px 1px 15px  rgba(0, 0, 0, 0.445);
}

#copyUm{
    display: flex; 
    /*background: rgb(223, 222, 222);*/
    background: rgba(223, 222, 222, 0.301);
    min-height: 35em;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.705);

}
@media (min-width: 505px) and (max-width: 768px){
    #copyUm{
        margin-left: -8em;
    }
}

#quadradoUm{
    margin-left: 20%;
    background-color: white;
    min-height: 6em;
    padding-top: 0.3em;
}
@media (min-width: 320px) and (max-width: 504px){
    #quadradoUm{
        margin-left: 5%;
        background-color: white;
        min-height: 8em;
        min-width: 9em ;
        word-wrap: break-word;
    }
}

#quadradoDois{
    height: 4em; 
    margin-left: -5em; 
    margin-top: 9.5em; 
    background-color: white; 
    padding-top: 1em;
}
@media (min-width: 320px) and (max-width: 504px){
    #quadradoDois{
        margin-top: 12em; 
        margin-left: -8em; 
        min-height: 6em;
        min-width: 9em;
    }
}

#sectionUm{
   height: 36em;
    backdrop-filter: 15px;
    background-color:  rgba(221, 242, 252, 0.589);
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.507);
   display: flex;
}

#produtos{
    margin-left: 33%;
    margin-top:2em;
    font-size: 23pt;
}
@media (min-width: 769px) and (max-width: 1024px){
    #produtos{
        margin-left: 38%;
    }
}

.cakeUm{
    height: 5em;
    width: 5em;
    opacity: 40%;
    margin-left: 10%;
    margin-top: 15em;
    transform: rotate(15deg);
}
@media (min-width: 320px) and (max-width: 504px){
    .cakeUm{
        height: 0em;
        width: 0em;
    }
}

.cakeDois{
    height: 5em;
    width: 5em;
    opacity: 40%;
    margin-right: 10%;
   margin-top: 25em;
   transform: rotate(-15deg);
}
@media (min-width: 320px) and (max-width: 504px){
    .cakeDois{
        height: 0em;
        width: 0em;
    }
}

.sectionCarrossel{
   
    /*margin-top: 10em;
    margin-left: 5%;
    display: flex;
    height: 15em;
    gap: 1em;*/
   position: relative;
   
   width: 30%;
    /*width: 18%;*/
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
    
}
@media (min-width: 320px) and (max-width: 504px){
   .sectionCarrossel{
     min-width: 10em;
   }
}

.carrossel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    /*width: 15em;*/
}

.imagens{
    margin-top: 5em;
    
    height: 20em;
    width: 20em;

    border-radius: 10%;
    padding-top: 0.5em;
    padding-left: 0.4em;
}
@media (min-width: 320px) and (max-width: 504px){
    .imagens{
        height: 20em;
        width: 13em;
    }
}

#sectionDois{
    display: flex;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 255, 255, 0.6);
    border:0px solid rgba(255, 255, 255, 0.705);
    
    background: rgba(223, 222, 222, 0.301);
    
}


#clientesSatisfeitos{
    margin-left: 25%; 
    margin-bottom: 2em;
}
@media (min-width: 320px) and (max-width: 504px){
    #clientesSatisfeitos{
        margin-left: 5%; 
        margin-bottom: 2em;
    }
}

#depoimentosTexto{
    font-size: 23pt;
     margin-top: 2em;
    margin-left: 36%;
}
@media (min-width: 320px) and (max-width: 504px){
    #depoimentosTexto{
        margin-left: 29%;
    }
}
@media (min-width: 505px) and (max-width: 768px){
    #depoimentosTexto{
        margin-left: 26%;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    #depoimentosTexto{
        margin-left: 32%;
    }
}

.imgSectionDois{
    width: 6em;
    height: 13em; 
}
@media (min-width: 320px) and (max-width: 504px){
    .imgSectionDois{
        width: 6em;
        height: 9em;
    }
}




footer{
  
    /*background-image: radial-gradient(circle ,rgb(240, 38, 55),rgb(226, 35, 51),rgb(168, 17, 29),rgb(122, 10, 20));*/
    height: 7em;
    width: 100%;
}
@media (min-width: 320px) and (max-width: 504px){
    #footer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

#divfoot{
    
    padding-top: 1em;
    display: flex; 
    margin-left: 40%;
    gap: 10em;
}
@media (min-width: 320px) and (max-width: 504px){
    #divfoot{
        gap: 30px;
    }
}
@media (min-width: 505px) and (max-width: 768px){
    #divfoot{
        gap: 50px;
        margin-left: 40%;
    }
}
@media (min-width: 1441px) and (max-width: 1920px){
    #divfoot{
        margin-left: 38%;
    }
}
@media (min-width: 1921px) and (max-width: 2650px){
    #divfoot{
        margin-left: 42%;
    }
}
.whatsapp{
    height: 2em; width: 2em; cursor: pointer;
   
}
#endereço{
    margin-left: 37%;
    margin-top: 2em;
    font-weight: 600;
}
@media (min-width: 320px) and (max-width: 504px){
    #endereço{
        margin-left: 10%;
    }
}
@media (min-width: 505px) and (max-width: 768px){
    #endereço{
        margin-left: 25%;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    #endereço{
        margin-left: 34%;
    }
}
