body{
    margin: 0;
    top: 0;
  
}
html{
    scroll-behavior: smooth;
}
.font {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(192, 147, 88);
  }


#cabeçalho{
    margin-top: -3em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
    display: flex;
   
}
@media (min-width: 320px) and (max-width: 504px){
    #cabeçalho{
        flex-direction: column;
        
    }
}

#fotocabeçalho{
    margin-left: 0;
    margin-top: 0;
    height: 18em;
    width: 23em;
}
@media (min-width: 320px) and (max-width: 504px){
    #fotocabeçalho{
        margin-left: 1em;
        margin-top: 0;
        height: 14em;
        width: 18em;
    }
}

#slogan{
    /*margin-top: 6.5em;*/
    margin-top: 3.8em;
    margin-left: 10%;
    color: rgb(192, 147, 88);
    font-size: 26pt;
    width: 9em;
}
@media (min-width: 320px) and (max-width: 504px){
    #slogan{
        /*margin-top: 6.5em;*/
        margin-top: 1em;
        margin-left: 15%;
        color: rgb(192, 147, 88);
        font-size: 20pt;
        width: 9em;
    }
}


#cta{
    width: 4em;
    height: 1.4em;
    margin-top: 6.5em;
    font-size: 16pt;
    color: rgb(192, 147, 88);
    cursor: pointer;
    padding-left: 1em;
    padding-top: 0.3em;
    margin-left: 25%;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.301);
    border-radius: 10em;
}

#cta:hover{
    transform: scale(1.1);
    transition: 1s;
}
#cta:hover{
    color: black;
    background-image: radial-gradient(circle, rgb(146, 230, 211), rgb(151, 236, 218), rgb(134, 214, 197)) /*(circle, rgb(134, 214, 197), rgb(151, 236, 218), rgb(134, 214, 197))*/ ;
}

.texto1{
    margin-top: 5em;
    margin-left: 10%;
    padding-left: 2%;
    height: 5em;
    width: 15em;
    font-size: 22pt;
    color: rgb(192, 147, 88);
    box-shadow: 1px 1px 15px  rgba(0, 0, 0, 0.445);
}

#copyUm{
    display: flex; 
    /*background: rgb(223, 222, 222);*/
    background: rgba(223, 222, 222, 0.301);
    min-height: 35em;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.705);

}

#sectionUm{
   height: 30em;
    backdrop-filter: 15px;
    background-color:  rgba(221, 242, 252, 0.589);
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.507);
}

.sectionCarrossel{
   
    /*margin-top: 10em;
    margin-left: 5%;
    display: flex;
    height: 15em;
    gap: 1em;*/
   position: relative;
   
   width: 40%;
    /*width: 18%;*/
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
    
}

.carrossel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    /*width: 15em;*/
}

.imagens{
    margin-top: 5em;
    
    height: 15em;
    width: 25em;

    border-radius: 10%;
    padding-top: 0.5em;
    padding-left: 0.4em;
}

#sectionDois{
    display: flex;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 255, 255, 0.6);
    border:0px solid rgba(255, 255, 255, 0.705);
    
    background: rgba(223, 222, 222, 0.301);
   
}

.imgSectionDois{
    width: 6em;
    height: 13em;
   
 
}
#depoimentosTexto{
    font-size: 23pt;
     margin-top: 2em;
    margin-left: 30%;
}

