body{
    margin: 0;
    top: 0;
    
}
.font {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
  }


#cabeçalho{
    margin-top: -3em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
    display: flex;
}
@media (min-width: 320px) and (max-width: 504px){
    #cabeçalho{
        flex-direction: column;
        
    }
}

#fotocabeçalho{
    margin-left: 0;
    margin-top: 0;
    height: 18em;
    width: 23em;
}
@media (min-width: 320px) and (max-width: 504px){
    #fotocabeçalho{
        margin-left: 1em;
        margin-top: 0;
        height: 14em;
        width: 18em;
    }
}

#slogan{
    /*margin-top: 6.5em;*/
    margin-top: 3.8em;
    margin-left: 10%;
    color: rgb(192, 147, 88);
    font-size: 26pt;
    width: 9em;
}
@media (min-width: 320px) and (max-width: 504px){
    #slogan{
        /*margin-top: 6.5em;*/
        margin-top: 1em;
        margin-left: 15%;
        color: rgb(192, 147, 88);
        font-size: 20pt;
        width: 9em;
    }
}


#cta{
    width: 4em;
    height: 1.4em;
    margin-top: 6.5em;
    font-size: 16pt;
    color: rgb(192, 147, 88);
    cursor: pointer;
    padding-left: 1em;
    padding-top: 0.3em;
    margin-left: 25%;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.301);
    border-radius: 10em;
}

#cta:hover{
    transform: scale(1.1);
    transition: 1s;
}
#cta:hover{
    color: black;
    background-image: radial-gradient(circle, rgb(146, 230, 211), rgb(151, 236, 218), rgb(134, 214, 197)) /*(circle, rgb(134, 214, 197), rgb(151, 236, 218), rgb(134, 214, 197))*/ ;
}

.section1{
    margin-top: 10em;
    /*margin-top: 10em;
    margin-left: 5%;
    display: flex;
    height: 15em;
    gap: 1em;*/
   position: relative;
    width: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
    
}

.slides{
    /*width: 80%;*/
    width: 100%;
    margin-top: 10em;
    display: flex;
    transition: transform 0.5 ease;
    gap: 1em;
}

.slide{
    min-width: 100%;
    transition: opacity 1s ease-in-out;
}
.slide img {
    width: 92%;
    display: block;
    
}

.cordiv{
     background-image: linear-gradient(to right, rgb(192, 147, 88), rgb(209, 161, 98), rgb(168, 119, 54), rgb(250, 210, 158)) ;
     height: 11.5em;
     width: 12em;
     border-radius: 100%;
     
}

.imagens{
    height: 10.5em;
    width: 11em;
    border-radius: 100%;
    padding-top: 0.5em;
    padding-left: 0.4em;
}

button {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  .prev {
    margin-top: 6em;
    left: 10px;
  }
  
  .next {
    margin-top: 6em;
    right: 10px;
  }